USE [master]
GO
/****** Object:  Database [Portfolio]    Script Date: 01.08.2018 18:16:07 ******/
CREATE DATABASE [Portfolio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Portfolio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Portfolio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Portfolio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Portfolio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Portfolio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Portfolio]
GO
USE [Portfolio]
GO
/****** Object:  Table [dbo].[AboutMe]    Script Date: 01.08.2018 18:16:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutMe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Birth] [int] NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](200) NULL,
	[Photo] [nvarchar](200) NULL,
	[CV] [nvarchar](200) NULL,
	[Position] [nvarchar](200) NULL,
	[Text] [text] NULL,
	[Lang] [nvarchar](15) NULL,
 CONSTRAINT [PK_AboutMe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminsData]    Script Date: 01.08.2018 18:16:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminsData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](200) NULL,
	[FullName] [nvarchar](30) NULL,
 CONSTRAINT [PK_AdminsData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 01.08.2018 18:16:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gallery]    Script Date: 01.08.2018 18:16:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gallery](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Media] [nvarchar](100) NULL,
	[PortfolioId] [int] NULL,
	[Lang] [nvarchar](15) NULL,
 CONSTRAINT [PK_Gallery] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Knowledge]    Script Date: 01.08.2018 18:16:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Knowledge](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Icon] [nvarchar](30) NULL,
	[IsIcon] [tinyint] NULL,
 CONSTRAINT [PK_Knowledge] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 01.08.2018 18:16:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Lang] [nvarchar](20) NULL,
	[LangAbbr] [nvarchar](6) NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 01.08.2018 18:16:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Subject] [nvarchar](200) NULL,
	[Text] [text] NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Portfolio]    Script Date: 01.08.2018 18:16:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portfolio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Slogan] [nvarchar](150) NULL,
	[CategoryId] [int] NULL,
	[Lang] [nvarchar](15) NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Portfolio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 01.08.2018 18:16:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Percentage] [tinyint] NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Social]    Script Date: 01.08.2018 18:16:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Social](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Icon] [nvarchar](50) NULL,
	[Link] [nvarchar](150) NULL,
 CONSTRAINT [PK_Social] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AboutMe] ON 

SET IDENTITY_INSERT [dbo].[AboutMe] OFF
SET IDENTITY_INSERT [dbo].[AdminsData] ON 

INSERT [dbo].[AdminsData] ([Id], [Email], [Password], [FullName]) VALUES (1, N'shohret550@gmail.com', N'AHekxMLM7t84S8zR3oJkdw64SP+ikFr0n4q8rjySUIAw49rdcFvnr7XAAvIXzEhC8w==', N'Shohrat Maharram')
INSERT [dbo].[AdminsData] ([Id], [Email], [Password], [FullName]) VALUES (2, N'rasim@rasim.com', N'ACVhfM3HO0k1w8wZcHsjK3Kz41tlUcMddvXTGENtLyR2ZuGAKrvAR1DApO0EBpDm5Q==', N'Rasim Xasayli')
SET IDENTITY_INSERT [dbo].[AdminsData] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'FULL-STACK')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'FRONT-END')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'BACK-END')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Gallery] ON 

INSERT [dbo].[Gallery] ([Id], [Media], [PortfolioId], [Lang]) VALUES (1, N'11.jpg', 1, N'en')
INSERT [dbo].[Gallery] ([Id], [Media], [PortfolioId], [Lang]) VALUES (2, N'21.jpg', 1, N'en')
INSERT [dbo].[Gallery] ([Id], [Media], [PortfolioId], [Lang]) VALUES (3, N'31.jpg', 1, N'en')
SET IDENTITY_INSERT [dbo].[Gallery] OFF
SET IDENTITY_INSERT [dbo].[Knowledge] ON 

INSERT [dbo].[Knowledge] ([Id], [Name], [Icon], [IsIcon]) VALUES (1, N'HTML', N'html5', 1)
INSERT [dbo].[Knowledge] ([Id], [Name], [Icon], [IsIcon]) VALUES (2, N'CSS', N'css3-alt', 1)
INSERT [dbo].[Knowledge] ([Id], [Name], [Icon], [IsIcon]) VALUES (3, N'JS', N'js-square', 1)
SET IDENTITY_INSERT [dbo].[Knowledge] OFF
SET IDENTITY_INSERT [dbo].[Language] ON 

INSERT [dbo].[Language] ([Id], [Lang], [LangAbbr]) VALUES (1, N'Azerbaijani', N'az')
INSERT [dbo].[Language] ([Id], [Lang], [LangAbbr]) VALUES (2, N'English', N'en')
INSERT [dbo].[Language] ([Id], [Lang], [LangAbbr]) VALUES (3, N'Russian', N'ru')
SET IDENTITY_INSERT [dbo].[Language] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [Name], [Email], [Subject], [Text], [Date]) VALUES (1, N'Rasim', N'mshohrat.p501@code.edu.az', N'Test1-Ajax', N'Mu mesaj hemde db ye yazilir', CAST(N'2018-07-22T23:26:32.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[Portfolio] ON 

INSERT [dbo].[Portfolio] ([Id], [Name], [Slogan], [CategoryId], [Lang], [Date]) VALUES (1, N'Coffee delivery', N'Coffee delivery Website', 1, N'en', NULL)
INSERT [dbo].[Portfolio] ([Id], [Name], [Slogan], [CategoryId], [Lang], [Date]) VALUES (2, N'Colculating Internship', N'Coffee delivery Website', 2, N'en', NULL)
INSERT [dbo].[Portfolio] ([Id], [Name], [Slogan], [CategoryId], [Lang], [Date]) VALUES (3, N'Coffee delivery', N'Coffee delivery Website', 3, N'en', NULL)
SET IDENTITY_INSERT [dbo].[Portfolio] OFF
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([Id], [Name], [Percentage]) VALUES (1, N'C#, ASP.NET MVC, ADO.NET', 80)
INSERT [dbo].[Skills] ([Id], [Name], [Percentage]) VALUES (2, N'HTML', 95)
INSERT [dbo].[Skills] ([Id], [Name], [Percentage]) VALUES (3, N'CSS, SASS, Bootstrap', 95)
SET IDENTITY_INSERT [dbo].[Skills] OFF
SET IDENTITY_INSERT [dbo].[Social] ON 

INSERT [dbo].[Social] ([Id], [Icon], [Link]) VALUES (1, N'linkedin-in', N'https://www.linkedin.com/in/shohrat-maharram')
INSERT [dbo].[Social] ([Id], [Icon], [Link]) VALUES (2, N'twitter', N'https://twitter.com/ShohratMaharram')
INSERT [dbo].[Social] ([Id], [Icon], [Link]) VALUES (3, N'facebook-f', N'https://www.facebook.com/shohrat.maharram')
SET IDENTITY_INSERT [dbo].[Social] OFF
ALTER TABLE [dbo].[Gallery]  WITH CHECK ADD  CONSTRAINT [FK_Gallery_Portfolio] FOREIGN KEY([PortfolioId])
REFERENCES [dbo].[Portfolio] ([Id])
GO
ALTER TABLE [dbo].[Gallery] CHECK CONSTRAINT [FK_Gallery_Portfolio]
GO
ALTER TABLE [dbo].[Portfolio]  WITH CHECK ADD  CONSTRAINT [FK_Portfolio_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Portfolio] CHECK CONSTRAINT [FK_Portfolio_Categories]
GO
USE [master]
GO
