body {
  position: relative; }

body {
  font-family: "Montserrat", sans-serif; }

#about .container .title, #contacts .container .title, #portfolio .container .title, #skills .container .title {
  text-align: center; }
  #about .container .title h1, #contacts .container .title h1, #portfolio .container .title h1, #skills .container .title h1 {
    font-size: 35px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px; }
  #about .container .title p, #contacts .container .title p, #portfolio .container .title p, #skills .container .title p {
    display: inline-block;
    color: white;
    padding: 1px 5px;
    background-color: #c43235;
    transform: rotate(45deg);
    position: relative;
    z-index: 5; }
    #about .container .title p:before, #contacts .container .title p:before, #portfolio .container .title p:before, #skills .container .title p:before {
      content: "";
      position: absolute;
      width: 150px;
      height: 1px;
      background-color: #c43235;
      transform: rotate(-45deg);
      top: 10px;
      right: -65px;
      z-index: -1; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#about {
  font-family: "Montserrat", sans-serif;
  height: auto;
  background-color: #0c0c0c;
  position: relative;
  padding: 100px 0 40px; }
  #about .container .content {
    margin-top: 50px; }
    #about .container .content .aboutMe {
      color: #d4d2d2;
      font-size: 14px; }
      #about .container .content .aboutMe p {
        line-height: 24px;
        margin-bottom: 40px; }
      #about .container .content .aboutMe ul li {
        font-size: 13px; }
        #about .container .content .aboutMe ul li strong {
          color: #c43235;
          font-weight: 600;
          width: 150px;
          position: relative;
          display: inline-block;
          margin: 30px 50px 0 0; }
          #about .container .content .aboutMe ul li strong:before {
            content: ":";
            position: absolute;
            right: 0; }
    #about .container .content .knowladge .row {
      text-align: center; }
      #about .container .content .knowladge .row .iconContainer {
        margin-bottom: 30px;
        transition: all .2s ease-out; }
        #about .container .content .knowladge .row .iconContainer .icon {
          width: 110px;
          height: 110px;
          border: 1px solid white;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease-out; }
          #about .container .content .knowladge .row .iconContainer .icon i {
            color: #c43235;
            font-size: 55px;
            transition: all .2s ease-out; }
          #about .container .content .knowladge .row .iconContainer .icon img {
            width: 70px; }
        #about .container .content .knowladge .row .iconContainer p {
          margin-top: 10px;
          color: #d4d2d2;
          transition: all .2s ease-out;
          font-weight: 500; }
        #about .container .content .knowladge .row .iconContainer:hover i {
          border-color: #c43235; }
        #about .container .content .knowladge .row .iconContainer:hover p {
          color: #c43235; }
        #about .container .content .knowladge .row .iconContainer:hover .icon {
          border-color: #c43235; }

@media screen and (max-width: 992px) {
  #about .container .content .aboutMe ul li strong {
    width: 115px;
    margin: 30px 10px 0 0; } }
@media screen and (max-width: 768px) {
  #about .container .content .aboutMe ul li strong {
    width: 150px;
    margin: 30px 50px 0 0; }
  #about .container .content .knowladge {
    margin-top: 60px; } }
@media screen and (max-width: 576px) {
  #about .container .content .aboutMe ul li {
    line-height: 20px; }
    #about .container .content .aboutMe ul li strong {
      width: 115px;
      margin: 30px 10px 0 0; } }
#contacts {
  font-family: "Montserrat", sans-serif;
  height: auto;
  background-color: #0c0c0c;
  position: relative;
  padding: 100px 0 70px; }
  #contacts .container .form {
    margin-top: 60px; }
    #contacts .container .form .row {
      margin-top: 25px; }
      #contacts .container .form .row .input {
        background-color: #151515;
        border: none;
        font-size: 14px;
        color: #d4d2d2;
        max-height: 200px; }
        #contacts .container .form .row .input::placeholder {
          color: #696969; }
        #contacts .container .form .row .input:focus {
          box-shadow: none; }
        #contacts .container .form .row .input:-webkit-autofill, #contacts .container .form .row .input:-webkit-autofill:focus, #contacts .container .form .row .input:-webkit-autofill:hover {
          border-radius: 0;
          -webkit-text-fill-color: #d4d2d2;
          box-shadow: 0 0 0 100px #151515 inset; }
      #contacts .container .form .row p {
        position: relative;
        font-size: 12px;
        color: #696969;
        margin-top: 12px; }
        #contacts .container .form .row p span {
          font-weight: bold; }
      #contacts .container .form .row .submit .message {
        display: none;
        width: 270px;
        height: 41px;
        float: left; }
      #contacts .container .form .row .submit .message-error {
        font-size: 11px;
        padding: 15px 10px; }
      #contacts .container .form .row .submit button {
        background-color: #151515;
        border: none;
        font-size: 13px;
        padding: 11px 30px;
        letter-spacing: 2px;
        transition: all .2s ease-out;
        float: right;
        position: relative;
        z-index: 1;
        overflow: hidden;
        font-weight: 500; }
        #contacts .container .form .row .submit button:focus {
          box-shadow: none; }
        #contacts .container .form .row .submit button:before {
          content: "";
          position: absolute;
          top: 0;
          left: -200px;
          width: 100%;
          height: 100%;
          background-color: #c43235;
          border-radius: 4px;
          z-index: -1;
          transition: left .2s ease-in-out; }
      #contacts .container .form .row .submit .hoverR:before {
        left: 0; }
      #contacts .container .form .row .submit .hoverB:before {
        left: -200px; }

@media screen and (min-width: 992px) {
  #contacts .container .form .row .submit .message {
    font-size: 14px;
    width: 242px; }
  #contacts .container .form .row .submit .message-error {
    font-size: 11px;
    padding: 15px 10px; } }
@media screen and (max-width: 992px) {
  #contacts .container .form .row .submit {
    margin-top: 30px; }
    #contacts .container .form .row .submit .message {
      width: 270px;
      height: 41px;
      float: right; }
    #contacts .container .form .row .submit button {
      float: left; } }
@media screen and (max-width: 768px) {
  #contacts .container .form .row .input::placeholder {
    font-size: 11px; }
  #contacts .container .form .row .submit {
    margin-top: 20px; }
    #contacts .container .form .row .submit .message {
      width: 220px;
      height: 41px;
      float: right;
      padding: 13px 8px;
      font-size: 14px; }
    #contacts .container .form .row .submit .message-error {
      font-size: 11px;
      padding: 15px 10px;
      width: 242px; }
    #contacts .container .form .row .submit button {
      float: left; } }
@media screen and (max-width: 576px) {
  #contacts .container .form .row .input {
    margin-top: 10px; }
  #contacts .container .form .row .submit {
    margin-top: 20px; }
    #contacts .container .form .row .submit .message {
      margin-right: 20px;
      width: 193px;
      height: 38px;
      float: left;
      padding: 12px 6px;
      font-size: 12px; }
    #contacts .container .form .row .submit .message-error {
      padding: 7px 6px; }
    #contacts .container .form .row .submit button {
      float: left; } }
#footer {
  font-family: "Montserrat", sans-serif;
  height: auto;
  background-color: #111;
  padding: 50px 0 30px; }
  #footer .container .content {
    text-align: center; }
    #footer .container .content h1 {
      font-size: 20px;
      color: #d4d2d2;
      margin-bottom: 20px;
      font-weight: 600;
      letter-spacing: 5px; }
    #footer .container .content ul {
      margin-bottom: 20px; }
      #footer .container .content ul li {
        list-style-type: none;
        display: inline-block; }
        #footer .container .content ul li a {
          color: #696969;
          margin: 0 15px;
          font-size: 16px;
          transition: all .3s ease-out; }
        #footer .container .content ul li:first-child:hover a {
          color: #4875B4; }
        #footer .container .content ul li:nth-child(2):hover a {
          color: #1da1f2; }
        #footer .container .content ul li:nth-child(3):hover a {
          color: #3B5998; }
        #footer .container .content ul li:last-child:hover a {
          color: #00AFF0; }
    #footer .container .content p {
      color: #696969;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 5px; }
  #footer .scrollToTop {
    position: fixed;
    width: 55px;
    height: 55px;
    background-color: #040000;
    bottom: 35px;
    right: 22px;
    line-height: 58px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 10px #211b1b;
    transition: all .3s ease-out;
    opacity: 0;
    z-index: 10; }
    #footer .scrollToTop:hover {
      background-color: #c43235; }
      #footer .scrollToTop:hover i {
        color: white; }
    #footer .scrollToTop i {
      font-size: 20px;
      color: #e0d5d5; }

@media screen and (max-width: 992px) {
  #footer .scrollToTop {
    width: 40px;
    height: 40px;
    right: 10px;
    line-height: 40px; }
    #footer .scrollToTop i {
      font-size: 14px; } }
@media screen and (max-width: 768px) {
  #footer .scrollToTop {
    right: 4px;
    bottom: 10px; } }
@media screen and (max-width: 576px) {
  #footer .container .content h1 {
    font-size: 15px;
    letter-spacing: 2px; }
  #footer .container .content ul li a {
    margin: 0 10px;
    font-size: 14px; }
  #footer .container .content p {
    font-size: 10px;
    letter-spacing: 1px; }
  #footer .scrollToTop {
    right: 4px;
    bottom: 10px; } }
#intro {
  font-family: "Montserrat", sans-serif;
  height: auto;
  background-color: #111;
  position: relative;
  padding: 100px 0 148px; }
  #intro .container .row .intro-text {
    z-index: 10; }
    #intro .container .row .intro-text h1 {
      color: white;
      font-size: 30px;
      margin-top: 35px;
      line-height: 40px; }
    #intro .container .row .intro-text .name span {
      font-weight: 600;
      font-size: 38px;
      letter-spacing: 3px; }
    #intro .container .row .intro-text .cv ul {
      display: flex;
      justify-content: space-between; }
      #intro .container .row .intro-text .cv ul li {
        list-style-type: none;
        display: inline-block;
        margin-top: 75px; }
        #intro .container .row .intro-text .cv ul li a {
          color: #c43235;
          text-decoration: none;
          border: 2px solid #c43235;
          padding: 8px 18px;
          font-weight: 500;
          transition: all .2s ease-out; }
          #intro .container .row .intro-text .cv ul li a:hover {
            background-color: #c43235;
            color: white;
            transition: all .2s ease-out; }
        #intro .container .row .intro-text .cv ul li:last-child {
          margin-right: 28px; }
  #intro .container .row .intro-image {
    display: flex;
    justify-content: center;
    position: absolute; }
    #intro .container .row .intro-image img {
      height: 575px; }

@media screen and (min-width: 1200px) {
  #intro .container .row .intro-text .cv ul li:last-child {
    margin-right: 127px; } }
@media screen and (max-width: 1200px) {
  #intro .container .row .intro-text .cv ul li:last-child {
    margin-right: 36px; } }
@media screen and (max-width: 768px) {
  #intro .container .row .intro-text .cv ul li:last-child {
    margin-right: 95px; } }
@media screen and (max-width: 576px) {
  #intro {
    padding-bottom: 100px; }
    #intro .container .row .intro-text h1 {
      font-size: 22px; }
    #intro .container .row .intro-text .name span {
      font-size: 26px; }
    #intro .container .row .intro-text .cv ul {
      display: block; }
      #intro .container .row .intro-text .cv ul li a {
        padding: 5px 12px;
        font-size: 14px; }
      #intro .container .row .intro-text .cv ul li:last-child {
        margin-top: 30px; }
    #intro .container .row .intro-image img {
      max-height: 430px; } }
#navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  height: auto;
  font-family: "Montserrat", sans-serif;
  padding: 30px 0; }
  #navbar .container {
    position: relative; }
    #navbar .container .row .logo {
      display: flex;
      align-items: center; }
      #navbar .container .row .logo a {
        text-decoration: none;
        color: #c43235;
        font-weight: 700;
        font-size: 20px; }
    #navbar .container .row .right-nav ul {
      list-style-type: none;
      float: right; }
      #navbar .container .row .right-nav ul li {
        display: inline-block; }
        #navbar .container .row .right-nav ul li a {
          color: white;
          font-size: 13px;
          font-weight: 600;
          text-decoration: none;
          margin: 0 20px;
          padding: 10px 0;
          position: relative;
          transition: all .3s ease-in-out; }
          #navbar .container .row .right-nav ul li a::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            height: 2px;
            width: 0;
            background-color: white;
            opacity: 0;
            transition: all .3s ease-in-out; }
          #navbar .container .row .right-nav ul li a:hover {
            color: #a9abb0; }
        #navbar .container .row .right-nav ul li .active::after {
          bottom: 0;
          opacity: 1;
          width: 100%;
          left: 0; }
    #navbar .container .row .right-nav .menuContainer {
      height: 30px;
      width: 30px;
      float: right;
      position: relative;
      top: -10px;
      display: none;
      align-items: center; }
      #navbar .container .row .right-nav .menuContainer:hover {
        cursor: pointer; }
      #navbar .container .row .right-nav .menuContainer .menu {
        height: 3px;
        width: 30px;
        background-color: white;
        position: relative;
        z-index: 6; }
        #navbar .container .row .right-nav .menuContainer .menu::before {
          position: absolute;
          left: 0;
          top: -10px;
          content: "";
          height: 3px;
          width: 30px;
          background-color: white; }
        #navbar .container .row .right-nav .menuContainer .menu::after {
          position: absolute;
          left: 0;
          bottom: -10px;
          content: "";
          height: 3px;
          width: 30px;
          background-color: white; }
    #navbar .container .row .lang {
      position: relative;
      z-index: 100; }
      #navbar .container .row .lang p {
        color: white;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
        transition: all .2s ease-out; }
        #navbar .container .row .lang p:hover {
          color: #a9abb0; }
      #navbar .container .row .lang ul {
        display: none;
        position: absolute;
        margin-top: 30px; }
        #navbar .container .row .lang ul li {
          padding: 5px 10px;
          background-color: #222;
          margin: 5px 0;
          border-radius: 5px;
          line-height: 16px; }
          #navbar .container .row .lang ul li a {
            text-decoration: none;
            color: #9a9a9a;
            font-size: 12px;
            font-weight: 600;
            transition: all .2s ease-out; }
            #navbar .container .row .lang ul li a:hover {
              color: #c43235; }
      #navbar .container .row .lang .responsiveLang {
        display: none; }
        #navbar .container .row .lang .responsiveLang p {
          font-size: 20px; }
        #navbar .container .row .lang .responsiveLang ul {
          margin: 15px 0 0 -6px; }
    #navbar .container .row .responsive-nav {
      background-color: #111;
      padding: 0 15px;
      display: none; }
      #navbar .container .row .responsive-nav ul li {
        margin: 40px 0; }
        #navbar .container .row .responsive-nav ul li a {
          color: white;
          font-weight: 600;
          font-size: 13px;
          text-decoration: none;
          padding: 10px 0;
          position: relative; }
          #navbar .container .row .responsive-nav ul li a::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            height: 2px;
            width: 0;
            background-color: white;
            opacity: 0;
            transition: all .3s ease-in-out; }
        #navbar .container .row .responsive-nav ul li .active::after {
          bottom: 0;
          opacity: 1;
          width: 100%;
          left: 0; }
    #navbar .container .row .active-nav {
      display: block; }

@media screen and (max-width: 992px) {
  #navbar {
    background-color: #151515; }
    #navbar .container .row .right-nav ul {
      display: none; }
    #navbar .container .row .right-nav .menuContainer {
      display: flex;
      top: 0; }
    #navbar .container .row .lang .responsiveLang {
      display: none; }
      #navbar .container .row .lang .responsiveLang p {
        font-size: 20px; }
      #navbar .container .row .lang .responsiveLang ul {
        margin: 32px 0 0 -6px; }
    #navbar .container .row .responsive-nav {
      margin-top: 20px; } }
@media screen and (max-width: 768px) {
  #navbar .container .row .lang .custamLang {
    display: none; }
  #navbar .container .row .lang .responsiveLang {
    display: block;
    float: right; }
  #navbar .container .row .responsive-nav {
    margin-top: 20px; } }
@media screen and (max-width: 992px) {
  #navbar .container .row .logo a {
    font-size: 16px; } }
#portfolio {
  font-family: "Montserrat", sans-serif;
  height: auto;
  background-color: #111;
  position: relative;
  padding: 100px 0 40px; }
  #portfolio .container .menu ul {
    text-align: center;
    margin-top: 70px; }
    #portfolio .container .menu ul li {
      display: inline-block;
      list-style: none; }
      #portfolio .container .menu ul li a {
        text-decoration: none;
        color: #c43235;
        font-size: 13px;
        font-weight: 600;
        padding: 8px 27px;
        margin: 0 5px;
        border: 1px dashed #c43235;
        border-radius: 25px;
        transition: all .3s ease-out; }
        #portfolio .container .menu ul li a:hover {
          color: white;
          background-color: #c43235; }
      #portfolio .container .menu ul li .active {
        color: white;
        background-color: #c43235; }
  #portfolio .container .itemsCover {
    margin-top: 80px; }
    #portfolio .container .itemsCover .items {
      margin-bottom: 30px;
      position: relative; }
      #portfolio .container .itemsCover .items .item {
        width: 100%;
        max-height: 250px;
        position: relative;
        overflow: hidden;
        transition: all .3s ease-out;
        border: 5px solid white; }
        #portfolio .container .itemsCover .items .item:hover .overlay {
          opacity: 1; }
          #portfolio .container .itemsCover .items .item:hover .overlay h2 {
            top: 95px; }
          #portfolio .container .itemsCover .items .item:hover .overlay p {
            top: 105px; }
        #portfolio .container .itemsCover .items .item img {
          width: 100%;
          max-height: 250px;
          position: relative; }
        #portfolio .container .itemsCover .items .item .overlay {
          position: absolute;
          right: 0;
          left: 0;
          top: 0;
          bottom: 0;
          background-color: #111;
          opacity: 0;
          text-align: center;
          transition: all .3s ease-out; }
          #portfolio .container .itemsCover .items .item .overlay h2 {
            color: white;
            font-size: 19px;
            font-weight: 700;
            letter-spacing: 2px;
            position: relative;
            top: 85px;
            transition: all .3s ease-out; }
          #portfolio .container .itemsCover .items .item .overlay p {
            color: #a5a2a2;
            font-size: 15px;
            position: relative;
            top: 115px;
            transition: all .3s ease-out; }
          #portfolio .container .itemsCover .items .item .overlay i {
            position: absolute;
            right: 15px;
            color: white;
            bottom: 15px;
            font-size: 30px;
            cursor: pointer; }
    #portfolio .container .itemsCover .hide {
      transform: translate(-100px, -100px) scale(0);
      transition: all .5s ease-out; }
    #portfolio .container .itemsCover .show {
      transform: scale(1);
      transition: all .5s ease-out; }

#slideCover {
  font-family: "Times New Roman";
  display: none;
  justify-content: center; }
  #slideCover .slideContainer {
    position: fixed;
    opacity: 1;
    z-index: 1000;
    max-width: 900px;
    max-height: 700px;
    display: flex;
    margin: 4px;
    justify-content: center; }
    #slideCover .slideContainer .item {
      opacity: 1;
      max-width: 100%;
      max-height: 80%;
      display: none; }
    #slideCover .slideContainer .active {
      display: block; }
    #slideCover .slideContainer .closeSlide {
      position: absolute;
      top: -26px;
      right: -3px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      transition: all .2s ease-out; }
      #slideCover .slideContainer .closeSlide:hover:before {
        background-color: white; }
      #slideCover .slideContainer .closeSlide:hover:after {
        background-color: white; }
      #slideCover .slideContainer .closeSlide:before {
        content: "";
        height: 2px;
        width: 13px;
        background-color: #a9abb0;
        position: absolute;
        top: 6px;
        transform: rotate(45deg);
        left: 12px;
        transition: all .2s ease-out; }
      #slideCover .slideContainer .closeSlide:after {
        content: "";
        height: 2px;
        width: 13px;
        background-color: #a9abb0;
        position: absolute;
        bottom: 18px;
        transform: rotate(-45deg);
        left: 12px;
        transition: all .2s ease-out; }
    #slideCover .slideContainer .countSlide {
      position: absolute;
      bottom: -20px;
      right: -1px;
      color: #a9abb0;
      font-size: 13px; }
  #slideCover .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #000;
    opacity: .9; }
  #slideCover .angleBoth {
    position: fixed;
    top: 100px;
    width: 100px;
    height: 100px;
    z-index: 1000;
    border-radius: 100%;
    display: flex;
    align-content: center;
    cursor: pointer; }
    #slideCover .angleBoth i {
      color: #a9abb0;
      font-size: 60px;
      align-self: center;
      transition: all .2s ease-out; }
    #slideCover .angleBoth:hover i {
      color: white; }
  #slideCover .angleRight {
    right: 10px;
    justify-content: flex-end; }
  #slideCover .angleLeft {
    left: 10px;
    justify-content: flex-start; }

@media screen and (max-width: 992px) {
  #portfolio .container .menu ul li {
    margin-top: 20px; }
    #portfolio .container .menu ul li a {
      font-size: 10px;
      padding: 6px 16px; } }
@media screen and (max-width: 768px) {
  #portfolio .container .menu ul li a {
    font-size: 10px;
    padding: 4px 12px;
    margin: 0px 3px; } }
@media screen and (max-width: 576px) {
  #portfolio .container .menu ul li a {
    font-size: 10px;
    padding: 4px 12px;
    margin: 0px 3px; }

  #slideCover .angleBoth i {
    font-size: 35px; }
  #slideCover .angleRight {
    right: 5px; }
  #slideCover .angleLeft {
    left: 5px; } }
#skills {
  font-family: "Montserrat", sans-serif;
  height: auto;
  background: url("../img/bg-my-skills.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  padding-top: 100px; }
  #skills:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%; }
  #skills .container .content {
    padding: 70px 0 30px; }
    #skills .container .content .col-md-6 {
      margin-bottom: 70px; }
      #skills .container .content .col-md-6 h2 {
        color: white;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 30px; }
      #skills .container .content .col-md-6 .range {
        width: 100%;
        height: 18px;
        background-color: white;
        position: relative; }
        #skills .container .content .col-md-6 .range .rating {
          position: absolute;
          left: 0;
          top: -1px;
          width: 10%;
          height: 20px;
          background-color: #c43235;
          box-shadow: 0 0 1px #c43239; }
          #skills .container .content .col-md-6 .range .rating span {
            position: absolute;
            font-size: 12px;
            width: 46px;
            height: 24px;
            background-color: #c43235;
            top: -30px;
            right: -22px;
            border-radius: 4px;
            text-align: center;
            line-height: 24px;
            color: white;
            font-weight: 600; }
            #skills .container .content .col-md-6 .range .rating span:after {
              content: "";
              width: 6px;
              height: 6px;
              background-color: #c43235;
              position: absolute;
              bottom: -2px;
              right: 20px;
              transform: rotate(45deg); }

@media screen and (max-width: 576px) {
  #skills .container .content .col-md-6 {
    margin-bottom: 60px; }
    #skills .container .content .col-md-6 h2 {
      font-size: 14px; }
    #skills .container .content .col-md-6 .range {
      height: 14px; }
      #skills .container .content .col-md-6 .range .rating {
        height: 16px; }
        #skills .container .content .col-md-6 .range .rating span {
          font-size: 10px;
          width: 40px;
          height: 20px;
          right: -20px;
          top: -28px; }
          #skills .container .content .col-md-6 .range .rating span:after {
            right: 18px; } }

/*# sourceMappingURL=style.css.map */
