@using Portfolio.Models
@{
    ViewBag.Title = "Update Skill";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<div class="container" style="margin-bottom:30px;">
    <div class="row">
        <div class="col-md-8">
            <form method="post" action="@Url.Action("UpdateSkill", "skills")">

                <div class="form-group">
                    <label for="Name">Skill Name</label>
                    <input type="text" name="Name" class="form-control" id="name" value="@ViewBag.Skill.Name">
                </div>

                <div class="form-group">
                    <label for="Percentage">Skill Percentage</label>
                    <input type="number" name="Percentage" class="form-control" id="Percentage" value="@ViewBag.Skill.Percentage">
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>