body{
    height: 3000px;
}
// <-- ~~~~~~~~~~~~~~~~~~    Variables    ~~~~~~~~~~~~~~~~~~ --> //

$txt-col: white;
$txt-col-trend:#c43235;//#5e0231; //#6534ff; //#b56969; //#6ed3cf;
$txt-col-dark: #9a9a9a;
$txt-col-darker: #a9abb0;
$bg-col: #0c0c0c;
$bg-col2: #111;
$bg-col-nav: #222;
$bg-col-input: #151515;
$main-font: 'Montserrat', sans-serif;


// <-- ~~~~~~~~~~~~~~~~~~    Mixins    ~~~~~~~~~~~~~~~~~~ --> //
@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

// <-- ~~~~~~~~~~~~~~~~~~    General Styles    ~~~~~~~~~~~~~~~~~~ --> //

body{
    font-family: $main-font;
}


// <-- ~~~~~~~~~~~~~~~~~~    Imports    ~~~~~~~~~~~~~~~~~~ --> //
@import 'reset';
@import 'about';
@import 'blog';
@import 'contact';
@import 'footer';
@import 'intro';
@import 'navbar';
@import 'portfolio';
@import 'skills';