body {
  height: 3000px; }

body {
  font-family: "Montserrat", sans-serif; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#intro {
  font-family: "Montserrat", sans-serif;
  height: auto;
  background-color: #111;
  position: relative;
  top: -80px;
  padding-top: 120px; }
  #intro .container .row .intro-text h1 {
    color: white;
    font-size: 30px;
    margin-top: 35px;
    line-height: 40px; }
  #intro .container .row .intro-text .name {
    font-weight: 600; }
    #intro .container .row .intro-text .name span {
      font-weight: 700;
      font-size: 38px;
      letter-spacing: 3px; }
  #intro .container .row .intro-text .cv ul {
    display: flex;
    justify-content: space-between; }
    #intro .container .row .intro-text .cv ul li {
      list-style-type: none;
      display: inline-block;
      margin-top: 75px; }
      #intro .container .row .intro-text .cv ul li a {
        color: #c43235;
        text-decoration: none;
        border: 2px solid #c43235;
        padding: 8px 18px;
        font-weight: 500;
        transition: all .2s ease-out; }
        #intro .container .row .intro-text .cv ul li a:hover {
          background-color: #c43235;
          color: white;
          transition: all .2s ease-out; }
      #intro .container .row .intro-text .cv ul li:last-child {
        margin-right: 28px; }
  #intro .container .row .intro-image {
    display: flex;
    justify-content: center; }
    #intro .container .row .intro-image img {
      height: 575px; }

#navbar {
  position: relative;
  z-index: 5;
  height: auto;
  font-family: "Montserrat", sans-serif;
  padding: 30px 0px; }
  #navbar .container {
    position: relative; }
    #navbar .container .row .logo {
      display: flex;
      align-items: center; }
      #navbar .container .row .logo a {
        text-decoration: none;
        color: #c43235;
        font-weight: 700; }
    #navbar .container .row .right-nav ul {
      list-style-type: none;
      float: right; }
      #navbar .container .row .right-nav ul li {
        display: inline-block; }
        #navbar .container .row .right-nav ul li a {
          color: white;
          font-size: 13px;
          font-weight: 600;
          text-decoration: none;
          margin: 0px 10px;
          padding: 10px 0px;
          position: relative;
          transition: all 0.3s ease-in-out; }
          #navbar .container .row .right-nav ul li a::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            height: 2px;
            width: 0%;
            background-color: white;
            opacity: 0;
            transition: all 0.3s ease-in-out; }
          #navbar .container .row .right-nav ul li a:hover {
            color: #a9abb0; }
        #navbar .container .row .right-nav ul li .active::after {
          bottom: 0px;
          opacity: 1;
          width: 100%;
          left: 0%; }
    #navbar .container .row .right-nav .menuContainer {
      height: 30px;
      width: 30px;
      float: right;
      position: relative;
      top: -10px;
      display: none;
      align-items: center; }
      #navbar .container .row .right-nav .menuContainer:hover {
        cursor: pointer; }
      #navbar .container .row .right-nav .menuContainer .menu {
        height: 3px;
        width: 30px;
        background-color: white;
        position: relative;
        z-index: 6; }
        #navbar .container .row .right-nav .menuContainer .menu::before {
          position: absolute;
          left: 0px;
          top: -10px;
          content: "";
          height: 3px;
          width: 30px;
          background-color: white; }
        #navbar .container .row .right-nav .menuContainer .menu::after {
          position: absolute;
          left: 0px;
          bottom: -10px;
          content: "";
          height: 3px;
          width: 30px;
          background-color: white; }
    #navbar .container .row .lang {
      color: white;
      font-size: 13px;
      font-weight: 600;
      cursor: pointer; }
    #navbar .container .row .responsive-nav {
      background-color: #111;
      padding: 0px 15px;
      display: none; }
      #navbar .container .row .responsive-nav ul li {
        margin: 40px 0px; }
        #navbar .container .row .responsive-nav ul li a {
          color: white;
          font-weight: 600;
          font-size: 13px;
          text-decoration: none;
          padding: 10px 0px;
          position: relative; }
          #navbar .container .row .responsive-nav ul li a::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            height: 2px;
            width: 0%;
            background-color: white;
            opacity: 0;
            transition: all 0.3s ease-in-out; }
        #navbar .container .row .responsive-nav ul li .active::after {
          bottom: 0px;
          opacity: 1;
          width: 100%;
          left: 0%; }
    #navbar .container .row .active-nav {
      display: block; }

@media screen and (max-width: 768px) {
  #navbar .container .row .right-nav ul {
    display: none; }
  #navbar .container .row .right-nav .menuContainer {
    display: flex; }
  #navbar .container .row .responsive-nav {
    margin-top: 20px; } }

/*# sourceMappingURL=style.css.map */
