body {
  height: 3000px; }

body {
  font-family: "Montserrat", sans-serif; }

#about .container .title, #skills .container .title {
  text-align: center; }
  #about .container .title h1, #skills .container .title h1 {
    font-size: 35px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px; }
  #about .container .title p, #skills .container .title p {
    display: inline-block;
    color: white;
    padding: 1px 5px;
    background-color: #c43235;
    transform: rotate(45deg);
    position: relative;
    z-index: 5; }
    #about .container .title p:before, #skills .container .title p:before {
      content: "";
      position: absolute;
      width: 150px;
      height: 1px;
      background-color: #c43235;
      transform: rotate(-45deg);
      top: 10px;
      right: -65px;
      z-index: -1; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#about {
  font-family: "Montserrat", sans-serif;
  height: auto;
  background-color: #0c0c0c;
  position: relative;
  padding: 100px 0px 40px 0px; }
  #about .container .content {
    margin-top: 50px; }
    #about .container .content .aboutMe {
      color: #d4d2d2;
      font-size: 14px; }
      #about .container .content .aboutMe p {
        line-height: 24px;
        margin-bottom: 40px; }
      #about .container .content .aboutMe ul li {
        font-size: 13px; }
        #about .container .content .aboutMe ul li strong {
          color: #c43235;
          font-weight: 600;
          width: 150px;
          position: relative;
          display: inline-block;
          margin: 30px 50px 0px 0px; }
          #about .container .content .aboutMe ul li strong:before {
            content: ":";
            position: absolute;
            right: 0px; }
    #about .container .content .knowladge .row {
      text-align: center; }
      #about .container .content .knowladge .row div {
        margin-bottom: 30px;
        transition: all 0.2s ease-out; }
        #about .container .content .knowladge .row div i {
          color: #c43235;
          font-size: 55px;
          border: 1px solid #d4d2d2;
          width: 110px;
          height: 110px;
          line-height: 110px;
          transition: all 0.2s ease-out; }
        #about .container .content .knowladge .row div p {
          margin-top: 10px;
          color: #d4d2d2;
          transition: all 0.2s ease-out;
          font-weight: 500; }
        #about .container .content .knowladge .row div:hover i {
          border-color: #c43235; }
        #about .container .content .knowladge .row div:hover p {
          color: #c43235; }

#intro {
  font-family: "Montserrat", sans-serif;
  height: auto;
  background-color: #111;
  position: relative;
  padding-top: 100px; }
  #intro .container .row .intro-text h1 {
    color: white;
    font-size: 30px;
    margin-top: 35px;
    line-height: 40px; }
  #intro .container .row .intro-text .name {
    font-weight: 600; }
    #intro .container .row .intro-text .name span {
      font-weight: 700;
      font-size: 38px;
      letter-spacing: 3px; }
  #intro .container .row .intro-text .cv ul {
    display: flex;
    justify-content: space-between; }
    #intro .container .row .intro-text .cv ul li {
      list-style-type: none;
      display: inline-block;
      margin-top: 75px; }
      #intro .container .row .intro-text .cv ul li a {
        color: #c43235;
        text-decoration: none;
        border: 2px solid #c43235;
        padding: 8px 18px;
        font-weight: 500;
        transition: all .2s ease-out; }
        #intro .container .row .intro-text .cv ul li a:hover {
          background-color: #c43235;
          color: white;
          transition: all .2s ease-out; }
      #intro .container .row .intro-text .cv ul li:last-child {
        margin-right: 28px; }
  #intro .container .row .intro-image {
    display: flex;
    justify-content: center; }
    #intro .container .row .intro-image img {
      height: 575px; }

#navbar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 99;
  height: auto;
  font-family: "Montserrat", sans-serif;
  padding: 30px 0px; }
  #navbar .container {
    position: relative; }
    #navbar .container .row .logo {
      display: flex;
      align-items: center; }
      #navbar .container .row .logo a {
        text-decoration: none;
        color: #c43235;
        font-weight: 700; }
    #navbar .container .row .right-nav ul {
      list-style-type: none;
      float: right; }
      #navbar .container .row .right-nav ul li {
        display: inline-block; }
        #navbar .container .row .right-nav ul li a {
          color: white;
          font-size: 13px;
          font-weight: 600;
          text-decoration: none;
          margin: 0px 10px;
          padding: 10px 0px;
          position: relative;
          transition: all 0.3s ease-in-out; }
          #navbar .container .row .right-nav ul li a::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            height: 2px;
            width: 0%;
            background-color: white;
            opacity: 0;
            transition: all 0.3s ease-in-out; }
          #navbar .container .row .right-nav ul li a:hover {
            color: #a9abb0; }
        #navbar .container .row .right-nav ul li .active::after {
          bottom: 0px;
          opacity: 1;
          width: 100%;
          left: 0%; }
    #navbar .container .row .right-nav .menuContainer {
      height: 30px;
      width: 30px;
      float: right;
      position: relative;
      top: -10px;
      display: none;
      align-items: center; }
      #navbar .container .row .right-nav .menuContainer:hover {
        cursor: pointer; }
      #navbar .container .row .right-nav .menuContainer .menu {
        height: 3px;
        width: 30px;
        background-color: white;
        position: relative;
        z-index: 6; }
        #navbar .container .row .right-nav .menuContainer .menu::before {
          position: absolute;
          left: 0px;
          top: -10px;
          content: "";
          height: 3px;
          width: 30px;
          background-color: white; }
        #navbar .container .row .right-nav .menuContainer .menu::after {
          position: absolute;
          left: 0px;
          bottom: -10px;
          content: "";
          height: 3px;
          width: 30px;
          background-color: white; }
    #navbar .container .row .lang {
      position: relative; }
      #navbar .container .row .lang p {
        color: white;
        font-size: 13px;
        font-weight: 600;
        cursor: pointer;
        transition: all .2s ease-out; }
        #navbar .container .row .lang p:hover {
          color: #a9abb0; }
      #navbar .container .row .lang ul {
        display: none;
        position: absolute;
        margin-top: 30px; }
        #navbar .container .row .lang ul li {
          padding: 5px 10px;
          background-color: #222;
          margin: 5px 0px;
          border-radius: 5px;
          line-height: 16px; }
          #navbar .container .row .lang ul li a {
            text-decoration: none;
            color: #9a9a9a;
            font-size: 12px;
            font-weight: 600;
            transition: all 0.2s ease-out; }
            #navbar .container .row .lang ul li a:hover {
              color: #c43235; }
    #navbar .container .row .responsive-nav {
      background-color: #111;
      padding: 0px 15px;
      display: none; }
      #navbar .container .row .responsive-nav ul li {
        margin: 40px 0px; }
        #navbar .container .row .responsive-nav ul li a {
          color: white;
          font-weight: 600;
          font-size: 13px;
          text-decoration: none;
          padding: 10px 0px;
          position: relative; }
          #navbar .container .row .responsive-nav ul li a::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 50%;
            height: 2px;
            width: 0%;
            background-color: white;
            opacity: 0;
            transition: all 0.3s ease-in-out; }
        #navbar .container .row .responsive-nav ul li .active::after {
          bottom: 0px;
          opacity: 1;
          width: 100%;
          left: 0%; }
    #navbar .container .row .active-nav {
      display: block; }

@media screen and (max-width: 992px) {
  #navbar .container .row .right-nav ul {
    display: none; }
  #navbar .container .row .right-nav .menuContainer {
    display: flex; }
  #navbar .container .row .responsive-nav {
    margin-top: 20px; } }
#skills {
  font-family: "Montserrat", sans-serif;
  height: auto;
  background: url("../img/bg-my-skills.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  padding-top: 100px; }
  #skills:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%; }
  #skills .container .content {
    padding: 70px 0 30px; }
    #skills .container .content .col-md-6 {
      margin-bottom: 70px; }
      #skills .container .content .col-md-6 h2 {
        color: white;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 30px; }
      #skills .container .content .col-md-6 .range {
        width: 100%;
        height: 18px;
        background-color: white;
        position: relative; }
        #skills .container .content .col-md-6 .range .rating {
          position: absolute;
          left: 0;
          top: -1px;
          width: 30%;
          height: 20px;
          background-color: #c43235;
          box-shadow: 0 0 1px #c43239; }
          #skills .container .content .col-md-6 .range .rating span {
            position: absolute;
            font-size: 12px;
            width: 46px;
            height: 24px;
            background-color: #c43235;
            top: -30px;
            right: -22px;
            border-radius: 4px;
            text-align: center;
            line-height: 24px;
            color: white;
            font-weight: 600; }
            #skills .container .content .col-md-6 .range .rating span:after {
              content: "";
              width: 6px;
              height: 6px;
              background-color: #c43235;
              position: absolute;
              bottom: -2px;
              right: 20px;
              transform: rotate(45deg); }

/*# sourceMappingURL=style.css.map */
