@using Portfolio.Models
@{
    ViewBag.Title = "Add About";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-bottom:30px;">
    <div class="row">
        <div class="col-md-8">
            <form method="post" action="@Url.Action("AddSocial","about")" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="icon">Icon</label>
                    <input type="text" name="icon" class="form-control" id="icon" value="">
                </div>
                <div class="form-group">
                    <label for="Link">Link</label>
                    <input type="text" name="Link" class="form-control" id="Link" value="">
                </div>

                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>